.tree-element-has-children[_ngcontent-nit-c128] > .tree-element-main[_ngcontent-nit-c128] .toggler[_ngcontent-nit-c128] {
  z-index: 10000 !important;
}
.card-link-doc {
  color: #0275d8 !important;
  cursor: pointer !important;
}
.modal-header-tree{
  background-color: #FAFCFF;
}
.modal-tree-class > .modal-dialog {
  max-width: 90% !important;
  width: 90% !important;
}
